.year {
	border-style: outset;
	border-width: 1px;
	background-color: #ffffff;
	text-align: center;
}
.month {
	border-style: none;
	background-color: #ffffff;
	text-align: center;
}
.yearname {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.monthname {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	background-color: #ffffff;
	color: #000000;
	border-style: none;
	border-width:1px
}
.dayname {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	background-color: #ffffff;
	color: #000000;
	border-style: none;
	border-width:1px
}
.week {
	border-style: none;
	background-color: #ffffff;
	text-align: center;
}
.monthweek {
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	border-style: solid;
	border-width:1px
}
.yearnavigation {
	font-size: 12px;
}
.datepicker {
	background-color: #ffffff;
}
.datepickerform {
	margin: 0px;
}
.monthnavigation {
	font-family: Tahoma, Arial, sans-serif;
}
.monthpicker {
	font-size: 11px;
	background-color: #ffffff;
}
.yearpicker {
	font-size: 11px;
	background-color: #ffffff;
}
.pickerbutton {

}
.nomonthday {
	text-align: center;
	font-size: 10px;
	height:20px;
	width:20px;
	color: #aaaaaa;
}
.monthday {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	background-color: #ffffff;
	color: #000000;
	height:20px;
	width:20px;
}
.expired {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #808080;
	height:20px;
	width:20px;
}
.booked {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: white;
	background-color: red;
	height:20px;
	width:20px;
}
.available {
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: white;
	background-color: green;
	height:20px;
	width:20px;
}
.available a {
	color: white;
	background-color: green;
}