BODY {
     background: #FFFFFF;
     color : Black;
     font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 12pt;
     text-align: left;
}

H2 {
   font-size: 14pt;
}

H3 {
   font-size: 12pt;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

H4 {
   font-size: small;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

td {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

th {
   font-family: Arial, Helvetica, sans-serif;
}

a.info {
    position:relative; /*this is the key*/
    z-index:24; background-color:#ccc;
    color:#000;
    text-decoration:none;
}

a.info:hover {
  z-index:25;
  background-color:#ff0
}

a.info span {
  display: none;
}

a.info:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:2em; left:2em; width: 15em;
    border:1px solid #0cf;
    background-color:#cff; color:#000;
    text-align: center
}

A:link {text-decoration: none;}
A:visited {text-decoration: none;}
A:active {text-decoration: underline overline; color: red;}
A:hover {text-decoration: underline overline; color: red;}

.footer-text {
	font-size: x-small;
	color:#555555;
}

.membertd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	background-color:#B0CBFD;
}

.membertdbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	background-color:#B0CBFD;
}
.admintd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color:#B0CBFD;
	border: solid thin; border-width: 1px; border-color: #000000;
}

.formlabel {
	font-family: Arial, Helvetica, sans-serif; font-size: 11pt;
}

.formlabelbold {
	font-family: Arial, Helvetica, sans-serif; font-size: 11pt;
	font-weight: bold;
}

.menu2 {
    background-color: #E9E9E9;
    color: inherit;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: smaller
}