/*

Theme Name: LFMTE Metal

Theme URI: http://thetrafficexchangescript.com/

Description: The LFMTE Metal Theme, design by Andrew Lucas

Version: 1.0

Author: Tom Lopez

*/



@charset "utf-8";

/* CSS Document */



body {

	font-size: 62.5%; /* Resets 1em to 10px */

	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	background-image:url(../LFMTE_metal/images/background.jpg);

	color: #000333;

}



#header h1 { font:bold 4.8em Arial, Helvetica, sans-serif; color:#FFF; padding:36px 0 0 42px; text-align: left;}

#wrapper {  background:url(../LFMTE_metal/images/middle.png) repeat-y; width:791px; margin:0 auto;}

#header { background:url(../LFMTE_metal/images/top.png) no-repeat; height:194px; }

#header #description { font:bold 1.8em Arial, Helvetica, sans-serif; color:#fff; padding:0 0 0 42px;}



#container {padding: 10px; text-align: left;}



#footer { background:url(../LFMTE_metal/images/bottom.png) no-repeat; height:22px;  text-align:center; }

#footer p { font:normal 1.2em Arial, Helvetica, sans-serif; color:#686767; padding:40px 0 0; }



.widecolumn .entry p {

	font-size: 1.05em;

	}



.narrowcolumn .entry, .widecolumn .entry {

	line-height: 1.4em;

	}



.widecolumn {

	line-height: 1.6em;

	}



.narrowcolumn .postmetadata {

	text-align: center;

	}



.alt {

	background-color: #f8f8f8;

	border-top: 1px solid #ddd;

	border-bottom: 1px solid #ddd;

	}



small {

	font-family: Arial, Helvetica, Sans-Serif;

	font-size: 0.9em;

	line-height: 1.5em;

	}



h1, h2, h3 {

	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;

	font-weight: bold;

	}



h1 {

	font-size: 4em;

	text-align: center;

	}



h2 {

	font-size: 1.6em;

	}



h3 {

	font-size: 1.3em;

	}



h1, h1 a, h1 a:hover, h1 a:visited {

	text-decoration: none;

	color: white;

	}



h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {

	color: #000333;

	}



h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, cite {

	text-decoration: none;

	}



.entry p a:visited {

	color: #b85b5a;

	}



small, blockquote, strike {

	color: #777;

	}



code {

	font: 1.1em 'Courier New', Courier, Fixed;

	}



acronym, abbr, span.caps

{

	font-size: 0.9em;

	letter-spacing: .07em;

	}



a, h2 a:hover, h3 a:hover {

	color: #06c;

	text-decoration: none;

	}



a:hover {

	color: #147;

	text-decoration: underline;

	}



/* End Typography & Colors */

.clear {

	clear: both;

}



/*	Begin Headers */

h1 {

	padding-top: 70px;

	margin: 0;

	}



h2 {

	margin: 30px 0 0;

	}



h2.pagetitle {

	margin-top: 30px;

	text-align: center;

}



h3 {

	padding: 0;

	margin: 30px 0 0;

	}



/* End Headers */



/* Begin Images */

p img {

	padding: 0;

	max-width: 100%;

	}



/*	Using 'class="alignright"' on an image will (who would've

	thought?!) align the image to the right. And using 'class="centered',

	will of course center the image. This is much better than using

	align="center", being much more futureproof (and valid) */



img.centered {

	display: block;

	margin-left: auto;

	margin-right: auto;

	}



img.alignright {

	padding: 4px;

	margin: 0 0 2px 7px;

	display: inline;

	}



img.alignleft {

	padding: 4px;

	margin: 0 7px 2px 0;

	display: inline;

	}



.alignright {

	float: right;

	}



.alignleft {

	float: left

	}

/* End Images */





/* Begin Lists



	Special stylized non-IE bullets

	Do not work in Internet Explorer, which merely default to normal bullets. */



html>body .entry ul {

	margin-left: 0px;

	padding: 0 0 0 30px;

	list-style: none;

	padding-left: 10px;

	text-indent: -10px;

	}



html>body .entry li {

	margin: 7px 0 8px 10px;

	}





ol li, {

	list-style: decimal outside;

	}



/* End Entry Lists */



/* Begin Various Tags & Classes */

acronym, abbr, span.caps {

	cursor: help;

	}



acronym, abbr {

	border-bottom: 1px dashed #999;

	}



blockquote {

	margin: 15px 30px 0 10px;

	padding-left: 20px;

	border-left: 5px solid #ddd;

	}



blockquote cite {

	margin: 5px 0 0;

	display: block;

	}



.center {

	text-align: center;

	}



.hidden {

	display: none;

	}



hr {

	display: none;

	}



a img {

	border: none;

	}



.navigation {

	display: block;

	text-align: center;

	margin-top: 10px;

	margin-bottom: 60px;

	}

/* End Various Tags & Classes*/



.membertd {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11pt;

	background-color:#B0CBFD;

}



.membertdbold {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11pt;

	font-weight: bold;

	background-color:#B0CBFD;

}



.formlabel {

	font-family: Arial, Helvetica, sans-serif; font-size: 11pt;

}



.formlabelbold {

	font-family: Arial, Helvetica, sans-serif; font-size: 11pt;

	font-weight: bold;

}



