body{
	border:4px #ccc solid;
	padding:0;

	margin:5px;
	 font-family: 'Open Sans', sans-serif;

	font-size:13px;

	color:#3f3f3f;
	/*background:#e1e0e0;*/

	line-height:18px;

	-webkit-font-smoothing: antialiased;

	-webkit-font-smoothing: subpixel-antialiased;
	height: auto !important;

}
input[type="radio"]{
padding:10px;
}
.clear{
	clear:both;
}
.logo{
text-align:left;
margin-top:20px;
}

.banner {
    background:url(../images/slider.jpg) no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 306px;
    margin: 0;
    padding: 0;
	width:100%;
}

.prev {
cursor: pointer;
    float: left;
    height: 105px;
    left: 20px;
    margin-top: 18%;
    position: relative;
    width: 37px;
    z-index: 999;
}

.next {
    cursor: pointer;
    float: right;
    height: 105px;
    margin-top: 18%;
    position: relative;
    width: 37px;
    z-index: 999;
	right: 20px;
}
.join-blk{
background:#FFFFFF;
padding:0px 30px;
border-bottom:3px #bebebe solid;
width:100%;
float:left;
}
.title-text{
font-family: 'Open Sans', sans-serif;
color:#434343;
font-size:26px;
float:left;
display:block;
padding:20px 0px;
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #008fd1;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
	float:right;
    font-family: 'Open Sans', sans-serif;
    height: auto;
    max-width: 110px;
    padding:12px ;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
	border:none;
	font-size:18px;
	margin:10px 0px 10px 0px;
}


.Detail{
	width:100%;
	padding:35px 0px 20px 0px;
	float:left;
}

.Operator{
border-bottom:3px #bebebe solid;
background:#FFFFFF;
}
 .Operator p{
 text-align:center;
 color:#464646;
 font-size:14px;
 font-weight:600;
 line-height:18px;
 }

 .Detail-content{
 font-size:13px;
 line-height:26px;
 color:#000;
 }
 .Result{
	width:100%;
	padding:0px 0px 20px 0px;
	float:left;
}

.Result h1{
  font-family: 'Open Sans', sans-serif;
  font-size:35px;
  text-align:center;
  color:#000;
  font-weight:normal;
  line-height: 40px;
  }
  .Result h2{
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  text-align:center;
  color:#003d59;
  font-weight:normal;
  margin:0px;
  padding-bottom: 20px;
line-height:28px;
  }
.home-page .container-header{
    width: inherit;
}
.home-page .Image-details {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    height: auto;
    margin: 0;
    padding:15px 10px;
    width: 100%;
}
.container-header {
    width: 570px;
	text-align: center;
	margin:0px auto;
}
.container-header span {
    background: none repeat scroll 0 0 #e1e0e0;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
	line-height:40px;
    font-weight: 900;
    letter-spacing: -0.04em;
    margin: 0 0 20px 15px;
    padding: 0 10px;
    text-transform: capitalize;
	font-weight:normal;
	text-align:center;
}
.header-stripe {
    background: none repeat scroll 0 0 #D8D4D4;
    height: 5px;
    margin: 10px 0 -27px;
}

 .Image-details {
 background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    float: left;
    height: auto;
    margin: 0;
   padding:15px 10px;
height:250px;
    width: 100%;

}
 .Image-details  h1{
  font-family: 'Open Sans', sans-serif;
    font-size: 30px;
	text-align:center;
	color:#000;
	margin:0px;line-height: 60px;
 }
  .margin-right{
  margin-right:14px;
  }
.sg-logo{
padding:50px 0px 30px 0px;
}
 .Detail-content ul{
width: 100%;
list-style:none;
padding-left:30px;
margin:0px;
}
 .Detail-content li
{
    padding: 4px 0px 0px 20px;
	/*background:url(../images/bullet.gif) left 65% no-repeat;*/
	background:url(http://www.calculatingtraffic.com/images/checkmark.png) left 65% no-repeat;


    font-size: 13px;
	width:100%
}

 .Image-details ul{
width: 100%;
list-style:none;
padding-left:10px;
margin:0px;
}
 .Image-details li
{
    padding: 4px 0px 20px 20px;
	background:url(../images/bullets-icon.gif) left 15% no-repeat;
	/*background: url("../images/bullet.gif") no-repeat scroll left 15% rgba(0, 0, 0, 0);*/
    font-size: 13px;
	width:100%;
	font-size:13px;
}
.alpha {
    margin: 0;
    padding: 0;
}
.footer-bg{
background:#d3d3d3;
padding: 50px 0px 50px 0px;
text-align:left;
/*float:left;*/
}
.footer-part01 {
 width: 100%;
 color:#000;
 font-weight:600;
}
 .box01 {
    width: 60%;
	float:left;

}
 .box02 {
    width: 40%;
	padding:0px 0px 0px 20px;
	float:right;
	text-align:right;

}
 .box02 span{
 color:#c40000;
 }
 .box01 a{
 color:#000;
 float: left;font-family: 'Open Sans', sans-serif;
  font-size:12px;
  text-decoration:none;
 }

.about-banner {
    background:url(../images/contact-banner.jpg) no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 300px;
    margin: 0;
    padding: 0;
	width:100%;
	padding-bottom:20px;

}
.about-txt{
max-width:650px;
width:100%;
float:left;
 float: left;
 font-family: 'Open Sans', sans-serif;
  font-size:13px;
  line-height:26px;
}
 .about-txt p{
	 padding:0px 0px 5px 0px;
 }
.about-right{
	width:310px;
	height:459px;
	padding-left:30px;
	float:left;
	padding-top:40px;
}
.contact-banner {
    background:url(../images/contact-banner.jpg) no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 300px;
    margin: 0;
    padding: 0;
	width:100%;
	margin-bottom:40px;

}

.header-banner {
    background:url(../images/header.jpg) no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 300px;
    margin: 0;
    padding: 0;
	width:100%;
	margin-bottom:40px;

}
#contact-form{
	max-width:310px;
width:100%;
float:left;
padding-left:30px;
padding-bottom:60px;
}
#contact-form .container {
    margin: 0;
    padding: 0;
    width: 100%;
}
#contact-form .form {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
#contact-form legend {
    border: medium none;
    margin: 0 0 8%;
    padding: 0;
    width: 100%;
}
#contact-form input, #contact-form textarea {
    background:#e5e5e5;
    border: medium none;
    color: #8C8C8C;
    display: block;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0 auto;
    padding: 4% 5%;
    width: 100%;
	border:1px #8C8C8C solid;
}
#contact-form #send {
    background: none repeat scroll 0 0 #0d374f;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    width: 30%;
	float:left;
	border:none;
}
#contact-form #clear {
    background: none repeat scroll 0 0 #0d374f;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    text-align: center;
   text-transform: capitalize;
    width: 30%;
   float:left;
   border:none;
   margin-right:15px;
   }

   .contact-map{
	   border:1px #4296c7 solid;
	   max-width:650px;
	   width:100%;
	    float: left;

   }
   .contact-map p{
	 width:100%;
	 float:left;
	 padding:0px;
	 margin:0px;
   }
   .contact-map-details{
	   color: #FFFFFF;
      font-family: "Open Sans";
      font-size: 12px;
	  background:#0d374f;
	  margin:0px;
	  padding: 20px 0px 20px 0px!important;
   }
   .contact-map  span{
	 float:left;
	 margin:0px;
	 padding-left:15px;
   }


.login-Popup{
	background:#fff;
	max-width:960px;
	width:inherit;
	padding:15px 60px 15px 60px;
	float:left;
}

#login-form{
max-width:350px;
width:100%;
float:left;
padding-left:30px;
padding-bottom:25px;
}
#login-form .container {
    margin: 0;
    padding: 0;
    width: 100%;
}
#login-form .form {
    margin: 20px auto;
    padding: 0;
    width: 100%;
}
#login-form legend {
    border: medium none;
    margin: 0 0 8%;
    padding: 0;
    width: 100%;
}
#login-form input {
    background:#f7f7f7;
    border: medium none;
    color: #8C8C8C;
    display: block;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: normal;

    padding: 4% 5%;
    width: 75%;
	border:1px #d6d5d5 solid;
}
#login-form #submit{
    background: none repeat scroll 0 0 #0d374f;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    text-align: center;
    text-transform:uppercase;
    width: 30%;
	float:left;
	border:none;
}
#login-form h1
{
	display:block;
	margin:0;
	text-align:left;
	padding:0 0 1% 0;
	 font-family: "Open Sans";
	font-size:30px;
	line-height:60px;
	color:#c4c4c4;
	font-weight:500;
}

.login-Popup-close {
    cursor: pointer;
    height: 36px;
    position: absolute;
    right: 215px;
    top: 7px;
    width: 36px;
    z-index: 8040;
	background:url(../images/close.png) no-repeat;
}
.grey-border{
	border-right:1px #000 solid;
}















/*..................................account....................*/


 .tabs ul {
	padding:0px;
	margin-right:20px;
	border-right:1px solid #E5E5E5;
	list-style:none;
	border-top:2px #080980 solid;

}

.tabs ul li {
    word-wrap: break-word;
}

 .tabs li a {

color:#333;
font-weight:500;
background:#e9eef2;
padding:8px;
width:100%;
float:left;
border-bottom:1px #CCC dotted;
font-size:12px;
border-left:1px #ccc solid;
border-right:1px #ccc solid;
text-decoration:none;

}

.tabs li.heading {
color:#000000;
font-weight:900;
background:#999999;
padding:8px;
width:100%;
float:left;
border-bottom:1px #CCC dotted;
font-size:14px;
border-left:1px #ccc solid;
border-right:1px #ccc solid;
text-decoration:none;
word-wrap: break-word;
}



 .tabs li a:hover {

color:#000;
font-weight:500;
background:#c7d2db;
padding:8px;
width:100%;
float:left
border-bottom:1px #CCC dotted;
font-size:12px;
border-left:1px #ccc solid;
border-right:1px #ccc solid;
text-decoration:none;

}

.tabs li a. current{
color:#000;
font-weight:500;
background:#85B800;
}
.table-content{
	margin-right:20px;
	width:100%;
}
.table-content h1{
	 font-family: "Open Sans";
	font-size:16px;
	color:#000;
}
.table-contents {

	font-family: "Open Sans";
	font-size:16px;
	padding:5px;
	width:300px;
	margin:20px auto;
	color:#000;
	text-decoration:none;
	display:block;
	color:#000;
}

.table-contents  span a{
	text-decoration:none;
	color:#0062b6;
	font-weight:bold;
}
.table-contents  span a.active{
	text-decoration:none;
	color:#000;
	font-weight:bold;
}
hr{
	color:#ccc;
	padding:0px;
	margin-bottom:5px;
	width:100%;
}
.title-head{
	background:#E94E3D;
	color:#fff;
	font-weight:bold;
	text-align:center;
	width:100%;
	padding:5px 5px 7px 5px;
}
.table-structure table td{
	border:1px #000 solid;
	padding:5px 8px;
	background:#e2f5f6;
}


.table-structure  input{
width:50px!important;
text-align:center;
}
.table-step{
width:50%;
}

.table-step table td{
	border-top:1px #000 solid;
	border-bottom:1px #000 solid;
	border-left:1px #000 solid;
	padding:5px 10px;
	background:#c4f0f0;
	line-height:20px;
}
.table-step ul{
margin:0px;
padding:0px;

}

.table-step ul li{
list-style:none;
width:100%;
float:left;

}
.step-title{
	background:#85B800!important;
	padding:6px;
	text-align:left;
	font-weight:bold;
	color:#fff;
	height:20px!important;
}
.border{
border:none!important;}
.member-title{
	background:#000!important;
	padding:4px;
	text-align:center;
	font-weight:bold;
	color:#fff;
	height:25px!important;
	font-size:20px;
}

.member table td{
	background:#c4f0f0;
	line-height:15.7px;
		border-bottom:1px #000 solid;

}
.member-content table td{
background:#ccc!important;
padding:10px 0px 14.2px 13px;
border:1px #000 solid;

}

.member-content span{
float:left;
}
.enquiry-step{
width:50%;
}

.enquiry-step table td{
	border-top:1px #000 solid;
	border-bottom:1px #000 solid;
	border-left:1px #000 solid;
	border-right:1px #000 solid;
	padding:5px;
	background:#c4f0f0;
	line-height:20px;
	height:375px;

}

.vote{

background: none repeat scroll 0 0 #0D374F;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    margin-left: 60%;
    text-align: center;
    text-transform: capitalize;
    width: 90%;
	padding:6px 20px;
	}

		#contactus {
		margin-top:20px;
		padding:0px 0px 10px 20px;
		}
	#contactus fieldset
{
   width:700px;
   padding:20px;
   margin-top:20px;
   border:1px solid #ccc;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
}

#contactus legend, h2
{
   font-family : Arial, sans-serif;
   font-size: 1.3em;
   font-weight:bold;
   color:#333;
}

#contactus label
{
   font-family: "Open Sans";
   font-size:12px;
   line-height:24px;
width:155px;   display:block;
}

#contactus input[type="text"],textarea
{
  font-family : Arial, Verdana, sans-serif;
  font-size: 0.8em;
  line-height:140%;
  color : #000;
  padding : 3px;
  border : 1px solid #999;
  margin-bottom:10px;

}

#contactus input[type="text"]
{
  height:30px;
  width:220px;


}


#contactus input[type="submit"]
{
   width:100px;
   height:30px;
   padding-left:0px;


   float:left;
}

#contactus textarea
{
  height:120px;
  width:310px;

}

#contactus input[type="text"]:focus,textarea:focus
{
  color : #009;
  border : 1px solid #990000;
  background-color : #ffff99;
  font-weight:bold;
}

#contactus .container
{
   margin-top:8px;
   width:300px;
   float:left;
}

#contactus .container-1
{
   margin-top:8px;
   margin-bottom: 10px;
   width:600px;
   float:left;
}


#contactus fieldset#antispam legend
{
   font-family : Arial, sans-serif;
   font-size: 0.8em;
   font-weight:bold;
   color:#333;
   float:left;
}


.update-btn{
background: none repeat scroll 0 0 #0D374F;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: "Open Sans";
    font-size: 11px!important;
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    width: 90%;
	padding:10px 20px;
	height:38px!important;
	float:left;
	margin-right:10px;
	text-align:center;
}

input.del-btn{
background: none repeat scroll 0 0 #0D374F;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px!important;
    text-align: center;
    text-transform: capitalize;
    width: 80px!important;
	padding:10px  30px 10px 25px!important;
	height:35px!important;
	/*margin-right:15px;*/
	margin-top:10px;
	text-align:center;
}


.Image input{
width:172px!important;
margin-bottom:15px;
margin-top:10px;
}

.banner-content{
	margin-right:20px;
	width:764px;
}
.banner-content input{
width:50px;
text-align:center;margin-top:10px;
}
.banner-btn{
color:#000066;
font-size:13px;
border:none!important;
background:none!important;
}
.quick-assign{
border:1px #000 solid;
padding:10px;
text-align:center;
width:375px;
margin-bottom:20px;
background:#F1F4F7;
}
input.assign-btn{
background: none repeat scroll 0 0 #0D374F;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 12px!important;
    text-align: center;
    text-transform: capitalize;
    width: 86px!important;
	max-width:100%;
	margin:4% 30%!important;
	padding:10px 26px!important;
	height:35px!important;
	margin-right:10px;
	text-align:center;
}

/*------------------------------ Toggles -----------------------------*/


.category ul{
/*margin:0px;
padding:0px;
list-style:none;*/

    border: 3px solid #666666;
    box-sizing: border-box;
    list-style: outside none none;
    margin: 0;
    padding: 5px 2px;
}

.category li a{
margin:12px;
padding:0px;
background-image:url(../images/bullet.png);
background-position:left top;
background-repeat:no-repeat;
padding-left:25px;
line-height:28px;
color: #000000;
 font-weight: 600;
 text-decoration:none;

}


/***** Modification as per test site ****/


.table-contents .active {
    background: none repeat scroll 0 0 #c7d2db !important;
    border-bottom: 1px dotted #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    color: #000 !important;
    float: left !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    padding: 8px !important;
    text-decoration: none !important;
    width: 100% !important;
}


button, input, select, textarea {
    padding-left: 0 !important;
}

button, select {
    text-transform: none;
}

button, input, select, textarea {
    background: none repeat scroll 0 0 #f7f7f7;
    border: 1px solid #d6d5d5;
    border-radius: 4px;
    color: #8c8c8c;
    font-family: inherit;
    font-size: 11px;
    height: 30px;
    margin: 0;
    padding-left: 31%;
    padding-top: 1%;
    width: 65%;
}

.error_validation {
    border: 3px solid red !important;
}

#loading {
	margin-left:15%;
	margin-top:4%;
	position:absolute;
	z-index:10000;
}

select.membertype {width:15%;}
input.membersort {width:5%;}

.menu-button {
    display: none;
}

.close-window {
    background: #fff url("../images/close-window.png") 2% center no-repeat;
    box-shadow: 1px 1px 2px 0px #a2a2a2;
    padding: 0;
    width: 24%;
    word-wrap: break-word;
    color: black;
    margin: 0 auto;
    display: block;
}

@media only screen and (min-width: 320px) and (max-width: 768px){
    .home-page .margin-right {
        margin-right: 3px;
        word-wrap: break-word;
        width: 100%;
    }
    .members_menu {
        position: absolute;
        display: none;
        z-index: 9;
        width: 150px;
    }
    .menu-button {
        display: block;
        width: 120px;
        padding: 13px;
        text-align: center;
        border: 1px solid #c0c0c0;
        cursor: pointer;
        color: #ffffff;
        font-weight: 600;
        background: #333;
        border-radius: 10px;
        margin: 0 0 10px 10px;
        font-size: 20px;
    }
    .table-structure table {
        width: 100%;
    }
    .banner-content{
        margin-right:0;
        width:100%;
    }
    .c9 {
        width: 100%;
    }
    .Detail-content.c9 {
        width: 75%;
    }
    .Operator {
        word-wrap: break-word;
    }
    .table-structure table td {
        padding: 1px;
    }
}

#form_edit .edit_row {
    padding: 10px;
}
#form_edit .edit_field input {
    width: 100%;
}
#form_edit .edit_row select {
    width: 100%;
}