.main-menu{

/*width: 450px;
*/
float:right;

margin:0px auto;
margin-top:10px;

}

.flexy-menu {
	padding: 0;	
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	list-style: none;
	text-align:left;
	display:block;	
	letter-spacing:0.015px;

	



}

.flexy-menu li {

	display: inline;

	font-size: 13px;

	margin: 0;

	padding: 0;

	float: left;

	line-height: 20px;

	position: relative

}

.flexy-menu>li>a {

	padding: 5px 12px;

	color: #8f8f8f;

	text-decoration: none;

	display: block;

	text-transform: capitalize;

	-webkit-transition: color .2s linear, background .2s linear;

	-moz-transition: color .2s linear, background .2s linear;

	-o-transition: color .2s linear, background .2s linear;

	transition: color .2s linear, background .2s linear

}

.flexy-menu li:hover>a, .flexy-menu li.active a {

	background: #85B800;

	color: #fff

}

.flexy-menu li.right {

	float: right

}

.flexy-menu ul, .flexy-menu ul li ul {

	list-style: none;

	margin: 0;

	padding: 0;

	display: none;

	position: absolute;

	z-index: 99999;

	width:100%;

	background: #9b6a16;

	color:#fff;

	box-shadow: 0 1px 1px rgba(0,0,0,0.3)

}

.flexy-menu ul {

	top: 60px;

	left: 0

}

.flexy-menu ul li ul {

	top: 0;

	left: 100%

}

.flexy-menu ul li {

	clear: both;

	width: 100%;

	border: 0;

	font-size: 12px

}

.flexy-menu ul li a {

	padding: 10px 20px;

	width: 100%;

	color: #dedede;

	font-size: 13px;

	text-decoration: none;

	display: inline-block;

	float: left;

	clear: both;

	box-sizing: border-box;

	-moz-box-sizing: border-box;

	-webkit-box-sizing: border-box;

	-webkit-transition: color .2s linear, background .2s linear;

	-moz-transition: color .2s linear, background .2s linear;

	-o-transition: color .2s linear, background .2s linear;

	transition: color .2s linear, background .2s linear

}

.thin>li>a {

	padding: 10px 22px

}

.thin ul {

	top: 40px

}

.thick>li>a {

	padding: 40px 22px

}

.thick ul {

	top: 100px

}

.flexy-menu i {

	line-height: 20px!important;

	margin-right: 6px;

	font-size: 18px;

	float: left

}

.flexy-menu>li.showhide {

	display: none;

	width: 100%;

	height: 50px;

	cursor: pointer;

	color: #dedede;

	border-bottom: solid 1px rgba(0,0,0,0.1);

	background: #333

}

.flexy-menu>li.showhide span.title {

	margin: 16px 0 0 25px;

	float: left

}

.flexy-menu>li.showhide span.icon {

	margin: 17px 20px;

	float: right

}

.flexy-menu>li.showhide .icon em {

	margin-bottom: 3px;

	display: block;

	width: 20px;

	height: 2px;

	background: #ccc

}

.orange li:hover>a, .orange li.active a {

	background: #85B800;

	color: #fff!important

}

.flexy-menu.vertical {
	width: 200px
}
.flexy-menu.vertical li {
	width: 100%
}

.flexy-menu.vertical li a {
	display: inline-block!important;
	width: 100%;
	padding: 18px 20px 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}



