<p style="text-align: center;"><img alt="comparemembers" src="http://calculatingtraffic.com/images/compare_members.png" style="width: 506px; height: 76px;" /><br />
&nbsp;</p>

<table align="center" bgcolor="#A2DBFF"  cellpadding="3" cellspacing="3" width="700px" style="box-shadow: 0 0 3px #888;; border: 1px solid #eeeeee;" >
	<tbody>
		<tr style="height:70px;">
			<td style="text-align: center; width: 270px; vertical-align: middle; background-color: #FFBCA3;"><strong>Comparison of Member Levels</strong></td>
			<td style="text-align: center; width: 70px; vertical-align: middle; background-color: #FFBCA3;"><strong>Clerk</strong></td>
			<td style="text-align: center; width: 70px; vertical-align: middle; background-color: #FFBCA3;"><strong>Manager</strong></td>
			<td style="text-align: center; width: 70px; vertical-align: middle; background-color: #FFBCA3;">
			<p><strong>Vice-</strong></p>

			<p><strong>President</strong></p>
			</td>
			<td style="text-align: center; width: 70px; vertical-align: middle; background-color: #FFBCA3;">
			<p><strong>President</strong></p>
			</td>
		</tr>
		<tr>
			<td style="height: 18px;">Starting surfing ratio (Dynamic, increases)</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">2:1 (0.5)</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">4:3 (0.75)</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">1:1 (1.0)</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">1:2 (1.2)</td>
		</tr>
		<tr>
			<td style="height: 18px;">Timer</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">10 sec</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">8 sec</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">8 sec</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">6 sec</td>
		</tr>
		<tr>
			<td style="height: 18px;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
		</tr>
		<tr>
			<td style="height: 18px;">Credits per month</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">0</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">500</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">1,000</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">2,500</td>
		</tr>
		<tr>
			<td style="height: 18px;">Banner impressions per month</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">0</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">750</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">1,500</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">3,500</td>
		</tr>
		<tr>
			<td style="height: 18px;">Text Ad impressions per month</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">0</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">750</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">1,500</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">3,500</td>
		</tr>
		<tr>
			<td style="height: 18px;">Synchronize web sites with banners &amp; text ads</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">Yes</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">Yes</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">Yes</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">Yes</td>
		</tr>
		<tr>
			<td style="height: 18px;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
		</tr>
		<tr>
			<td style="height: 18px;">Minimum % of credits which must be assigned</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">75%</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">50%</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">25%</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">0%</td>
		</tr>
		<tr>
			<td style="height: 18px;">Convert credits to banners, per credit</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">20</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">30</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">50</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">125</td>
		</tr>
		<tr>
			<td style="height: 18px;">Convert credits to text ads, per credit</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">20</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">30</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">50</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">125</td>
		</tr>
		<tr>
			<td style="height: 18px;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
		</tr>
		<tr>
			<td style="height: 18px;">Number of sites allowed</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">5</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">10</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">15</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">500</td>
		</tr>
		<tr>
			<td style="height: 18px;">Number of banners allowed</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">10</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">15</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">25</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">150</td>
		</tr>
		<tr>
			<td style="height: 18px;">Number of text ads allowed</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">10</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">15</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">25</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">150</td>
		</tr>
		<tr>
			<td style="height: 18px;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
		</tr>
		<tr>
			<td style="height: 18px;">Number of rotators allowed</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">2</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">4</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">6</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">8</td>
		</tr>
		<tr>
			<td style="height: 18px;">Number of tracking links allowed</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">5</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">10</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">15</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">35</td>
		</tr>
		<tr>
			<td style="height: 18px;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
		</tr>
		<tr>
			<td style="height: 18px;">Commissions on OTO upgrades/purchases</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">10%</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">20%</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">30%</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">50%</td>
		</tr>
		<tr>
			<td style="height: 18px;">Commissions on other upgrades/purchases</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">10%</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">15%</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">20%</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">30%</td>
		</tr>
		<tr>
			<td style="height: 18px;">Credits earned from direct referrals surfing</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">3%</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">5%</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">7%</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">10%</td>
		</tr>
		<tr>
			<td style="height: 18px;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
		</tr>
		<tr>
			<td style="height: 18px;">Automatic payment of commissions (after account balance reaches $10.00 or greater, payable after 14 days)</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">Yes</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">Yes</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">Yes</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">Yes</td>
		</tr>
		<tr>
			<td style="height: 18px;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
		</tr>
		<tr>
			<td style="height: 18px;">Random referrals</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">No</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">Yes</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">Yes</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">Yes</td>
		</tr>
		<tr>
			<td style="height: 18px;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
		</tr>
		<tr>
			<td style="height: 18px;">Free access to downline builder</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">Yes</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">Yes</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">Yes</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">Yes</td>
		</tr>
		<tr>
			<td style="height: 18px;">Display banners/text ads in Members area</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">Yes</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">Yes</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">Yes</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">Yes</td>
		</tr>
		<tr>
			<td style="height: 18px;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
		</tr>
		<tr>
			<td style="height: 18px;">Maximum number of members allowed</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">Unlimited</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">Unlimited</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">Unlimited</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">100</td>
		</tr>
		<tr>
			<td style="height: 18px;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">&nbsp;</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">&nbsp;</td>
		</tr>
		<tr>
			<td style="height: 18px;">Monthly subscription</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">Free</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">$6.97</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">$12.97</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">$28.97</td>
		</tr>
		<tr>
			<td style="height: 18px;">Annual subscription</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">Free</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">$69.97</td>
			<td style="text-align: center; vertical-align: middle; background-color: #A9EA00;">$129.97</td>
			<td style="text-align: center; vertical-align: middle; background-color: #D9FFD4;">$289.97</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
