.s81red {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FF0000;
}
.s9 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #003D79;
}
.s9black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	text-align: left;
}


.s8black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15pt;
	color: #000000
}
.s8 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #003D79;
}
.content {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.contenturls {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}


.statsbox {
	border: 1px solid rgba(0,0,0,1);
}
.thdata {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
}
.trdata {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	text-align: left;
}


.s10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #0000FF;
}
.tdata {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0px;
	border: 1px solid #000000;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}
.tddata {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
}



.s10black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
}

.wrapper {
	border: 1px solid #000000;
	background-color: #FFFFCC;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: center;
}
