body {
	font-family: Arial, Helvetica, sans-serif;
}

td {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

.footer-text {
	font-size: x-small; color:#333333;
}

A:link {text-decoration: none;}
A:visited {text-decoration: none;}
A:active {text-decoration: underline overline; color: red;}
A:hover {text-decoration: underline overline; color: red;}

.membertd {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px;
	background-color:#B0CBFD;
}

.admintd {
	font-family: Arial, Helvetica, sans-serif; font-size: 18px ;
	color:#000000;
	background-color:#B0CBFD;
	border: solid thin; border-width: 1px; border-color: #000000; 
    	font-weight: 700;
}
.formfield {
	font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}

a.info{
    position:relative; /*this is the key*/
    z-index:24; background-color:#ccc;
    color:#000;
    text-decoration:none}

a.info:hover{z-index:25; background-color:#ff0; text-decoration:none;}

a.info span{display: none}

a.info:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:2em; left:2em; width: 15em;
    border:1px solid #0cf;
    background-color:#cff; color:#000;
    text-align: center;
	text-decoration: none;
}

.calendar {
	border: 1px solid #000;
}

.calendar_year, .calendar_month {
	text-align: center;
	border-bottom: 1px solid #aaa;
	padding: 2px 0px;
	background-color: #ffffff;
}

.calendar table {
	margin-top: 2px;
	background-color: #ffffff;
}

.calendar thead {
	font-weight: bold;
	background-color: #ffffff;
}

.calendar thead td {
	padding: 0px 2px;
}

.calendar td {
	font-size: 60%;
	text-align: center;
	background-color: #ffffff;
}

td.calendar_selected {
	background-color: #faa;
}

.calendar_special {
	color: #c55;
}
.lfmtable table {
 background-color: #F9FBFD;
 color: #000000;
 border: 1px solid #CCCCCC;
 border-collapse: collapse;
}

.lfmtable td {
 border: 1px solid #CCCCCC;
 padding-left: 4px;
}

.lfmtable th {
 border: 1px solid #CCCCCC;
 padding-left: 4px; 
 font-weight: bold; 
 font-size: 14px; 
 background-color: #A0C0FC
}

.labelcell {
 font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
 color: #3670A7;
 background-color: transparent;
 width: 220px;
}

.fieldcell {
 background-color: #F2F7FB;
 color: #000000;
 text-align: left;
 margin-right: 0px;
 padding-right: 0px;
}

.smalllabelcell {
 font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
 background-color: transparent;
 color: #3670A7;
 width: 100px;
}

.smallfieldcell {
 background-color: #F2F7FB;
 color: #000000;
 text-align: left;
 
}
.fieldcell input {
 width: 200px;
 font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
 background-color: #D7E5F2;
 color: #102132;
 border: 1px solid #284279;
 margin-right: 0px;
}

.smallfieldcell input {
 width: 100px;
 font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
 background-color: #D7E5F2;
 color: #102132;
 border: 1px solid #284279;
}

.smallfieldcell select {
 font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
 background-color: #D7E5F2;
 color: #102132;
 border: 1px solid #284279;
}
.button {
 font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
 background-color: #EEEEEE;
 color: #102132;
 margin-left: 12px;
 margin-top: 3px;
 margin-bottom: 2px;
}

div#qTip {
  padding: 3px;
  border: 1px solid #666;
  border-right-width: 2px;
  border-bottom-width: 2px;
  display: none;
  background: #B4DA67;
  color: #000;
  font: 10px Verdana, Arial, Helvetica, sans-serif;
  text-align: left;
  position: absolute;
  z-index: 1000;
}
input[type="text"] { 
    font: xx-small
}
