.s81red {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FF0000;
}
.s9 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #003D79;
}

.s8black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15pt;
	color: #000000
}
.s8 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #003D79;
}
.statsbox {
	border: 1px solid rgba(0,0,0,1);
}
.s10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #0000FF;
}

.s10black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
}

.wrapper {
	border: 1px solid #000000;
	background-color: #FFFFCC;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: center;
}
