/*
 * Gridiculous
 *
 * A responsive grid boilerplate that takes you all the way from 1200px on down to 320px.
 *
 * created by c.bavota
 * released under GPL v2
 *
 * March 4th, 2013
 */

/* =Normalize.css v2.1.0 by Nicolas Gallagher - http://necolas.github.com/normalize.css/
-------------------------------------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:12px 2px;padding:0.35em 0.625em 0.5em 0.75em; background:#f1f4f7;}
legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0; width:73%; height:30px;border: 1px solid #999999;}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:10px;margin:0px 10px 0px 0px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}

/* =Clearfix by Nicolas Gallagher
-------------------------------------------------------------- */
.row:before,.row:after,.clearfix:before,.clearfix:after{content:'';display:table}
.row:after,.clearfix:after{clear:both}
.row,.clearfix{zoom:1}

/* =Gridiculous
-------------------------------------------------------------- */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
body{font-size:100%;line-height:1.6875}
.grid{margin:0 auto;max-width:1200px;width:100%}
img{max-width:100%;height:auto;display:block;margin-left:auto;margin-right:auto}
.wfull{width:100%;max-width:100%;}
.w320{max-width:320px}
.w640{max-width:640px}
.w960{max-width:960px}
.row{width:100%;margin-bottom:5px;}
.row .row{width:auto;margin:0 -20px}
.c1{width:8.33%}
.c2{width:16.66%}
.c3{width:20%;}
.c4{width:32.33%}
.c5{width:41.66%}
.c6{width:50%}
.c7{width:58.33%}
.c8{width:66.66%}
.c9{width:75%}
.c10{width:83.33%}
.c11{width:91.66%}
.c12{width:100%}
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12{min-height:1px;float:left;padding-left:0px;padding-right:0px;position:relative}
.s1{margin-left:8.33%}
.s2{margin-left:16.66%}
.s3{margin-left:25%}
.s4{margin-left:33.33%}
.s5{margin-left:41.66%}
.s6{margin-left:50%}
.s7{margin-left:58.33%}
.s8{margin-left:66.66%}
.s9{margin-left:75%}
.s10{margin-left:83.33%}
.s11{margin-left:91.66%}
.end{float:right!important}

/* =Media query for 960 Screens - sets nested grids to 100%
-------------------------------------------------------------- */
@media only screen and (max-width:960px){
.row .row .c1,.row .row .c2,.row .row .c3,.row .row .c4,.row .row .c5,.row .row .c6,.row .row .c7,.row .row .c8,.row .row .c9,.row .row .c10,.row .row .c11,.row .row .c12{width:100%;margin-bottom:20px}
.row .row > div:last-child{margin-bottom:0 !important}
.blue-bg{
	background:none!important;

}

}


@media handheld, only screen and (max-width: 800px), only screen and (max-device-width: 800px) and (orientation:portrait){

}


.main-menu{

/*width: 450px;
*/
float:right;

margin:0px auto;
margin-top:10px;

}

.flexy-menu {
	padding: 0;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	list-style: none;
	text-align:left;
	display:block;
	letter-spacing:0.015px;





}

.flexy-menu li {

	display: inline;

	font-size: 13px;

	margin: 0;

	padding: 0;

	float: left;

	line-height: 20px;

	position: relative

}

.flexy-menu>li>a {

	padding: 5px 12px;

	color: #8f8f8f;

	text-decoration: none;

	display: block;

	text-transform: capitalize;

	-webkit-transition: color .2s linear, background .2s linear;

	-moz-transition: color .2s linear, background .2s linear;

	-o-transition: color .2s linear, background .2s linear;

	transition: color .2s linear, background .2s linear

}

.flexy-menu li:hover>a, .flexy-menu li.active a {

	background: #00d8ff;

	color: #fff

}

.flexy-menu li.right {

	float: right

}

.flexy-menu ul, .flexy-menu ul li ul {

	list-style: none;

	margin: 0;

	padding: 0;

	display: none;

	position: absolute;

	z-index: 99999;

	width:100%;

	background: #9b6a16;

	color:#fff;

	box-shadow: 0 1px 1px rgba(0,0,0,0.3)

}

.flexy-menu ul {

	top: 60px;

	left: 0

}

.flexy-menu ul li ul {

	top: 0;

	left: 100%

}

.flexy-menu ul li {

	clear: both;

	width: 100%;

	border: 0;

	font-size: 12px

}

.flexy-menu ul li a {

	padding: 10px 20px;

	width: 100%;

	color: #dedede;

	font-size: 13px;

	text-decoration: none;

	display: inline-block;

	float: left;

	clear: both;

	box-sizing: border-box;

	-moz-box-sizing: border-box;

	-webkit-box-sizing: border-box;

	-webkit-transition: color .2s linear, background .2s linear;

	-moz-transition: color .2s linear, background .2s linear;

	-o-transition: color .2s linear, background .2s linear;

	transition: color .2s linear, background .2s linear

}

.thin>li>a {

	padding: 10px 22px

}

.thin ul {

	top: 40px

}

.thick>li>a {

	padding: 40px 22px

}

.thick ul {

	top: 100px

}

.flexy-menu i {

	line-height: 20px!important;

	margin-right: 6px;

	font-size: 18px;

	float: left

}

.flexy-menu>li.showhide {

	display: none;

	width: 100%;

	height: 50px;

	cursor: pointer;

	color: #dedede;

	border-bottom: solid 1px rgba(0,0,0,0.1);

	background: #333

}

.flexy-menu>li.showhide span.title {

	margin: 16px 0 0 25px;

	float: left

}

.flexy-menu>li.showhide span.icon {

	margin: 17px 20px;

	float: right

}

.flexy-menu>li.showhide .icon em {

	margin-bottom: 3px;

	display: block;

	width: 20px;

	height: 2px;

	background: #ccc

}

.orange li:hover>a, .ornage li.active a {

	background: #00d8ff;

	color: #fff!important

}

.flexy-menu.vertical {
	width: 200px
}
.flexy-menu.vertical li {
	width: 100%
}

.flexy-menu.vertical li a {
	display: inline-block!important;
	width: 100%;
	padding: 18px 20px 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}




body{

	padding:0;

	margin:0;
	 font-family: 'Open Sans', sans-serif;

	font-size:13px;

	color:#3f3f3f;
	background:#e1e0e0;
	line-height:18px;

	-webkit-font-smoothing: antialiased;

	-webkit-font-smoothing: subpixel-antialiased;

}
input[type="radio"]{
padding:10px;
}
.clear{
	clear:both;
}
.logo{
text-align:left;
margin-top:20px;
}

.banner {
    background:url(../images/slider.jpg) no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 306px;
    margin: 0;
    padding: 0;
	width:100%;
}

.prev {
cursor: pointer;
    float: left;
    height: 105px;
    left: 20px;
    margin-top: 18%;
    position: relative;
    width: 37px;
    z-index: 999;
}

.next {
    cursor: pointer;
    float: right;
    height: 105px;
    margin-top: 18%;
    position: relative;
    width: 37px;
    z-index: 999;
	right: 20px;
}
.join-blk{
background:#FFFFFF;
padding:0px 30px;
border-bottom:3px #bebebe solid;
width:100%;
float:left;
}
.title-text{
font-family: 'Open Sans', sans-serif;
color:#434343;
font-size:26px;
float:left;
display:block;
padding:20px 0px;
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #008fd1;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
	float:right;
    font-family: 'Open Sans', sans-serif;
    height: auto;
    max-width: 110px;
    padding:12px ;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
	border:none;
	font-size:18px;
	margin:10px 0px 10px 0px;
}


.Detail{
	width:100%;
	padding:35px 0px 20px 0px;
	float:left;
}

.Operator{
max-width:270px;
width:100%;
border-bottom:3px #bebebe solid;
background:#FFFFFF;
float:left;
}
 .Operator p{
 text-align:center;
 color:#464646;
 font-size:14px;
 font-weight:600;
 line-height:18px;
 }

 .Detail-content{
 width:71%;
 font-size:13px;
 line-height:26px;
 padding-left:15px;
 float:right;
 color:#000;
 }
 .Result{
	width:100%;
	padding:0px 0px 20px 0px;
	float:left;
}

.Result h1{
  font-family: 'Open Sans', sans-serif;
  font-size:35px;
  text-align:center;
  color:#000;
  font-weight:normal;
  line-height: 40px;
  }
  .Result h2{
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  text-align:center;
  color:#003d59;
  font-weight:normal;
  margin:0px;
  padding-bottom: 20px;
line-height:28px;
  }

.container-header {
    width: 570px;
	text-align: center;
	margin:0px auto;
}
.container-header span {
    background: none repeat scroll 0 0 #e1e0e0;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
	line-height:40px;
    font-weight: 900;
    letter-spacing: -0.04em;
    margin: 0 0 20px 15px;
    padding: 0 10px;
    text-transform: capitalize;
	font-weight:normal;
	text-align:center;
}
.header-stripe {
    background: none repeat scroll 0 0 #D8D4D4;
    height: 5px;
    margin: 10px 0 -27px;
}

 .Image-details {
 background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    float: left;
    height: auto;
    margin: 0;
   padding:15px 10px;
height:250px;
    width: 100%;

}
 .Image-details  h1{
  font-family: 'Open Sans', sans-serif;
    font-size: 30px;
	text-align:center;
	color:#000;
	margin:0px;line-height: 60px;
 }
  .margin-right{
  margin-right:14px;
  }
.sg-logo{
padding:50px 0px 30px 0px;
}
 .Detail-content ul{
width: 100%;
list-style:none;
padding-left:30px;
margin:0px;
}
 .Detail-content li
{
    padding: 4px 0px 0px 20px;
	background:url(../images/bullet.gif) left 65% no-repeat;
    font-size: 13px;
	width:100%
}

 .Image-details ul{
width: 100%;
list-style:none;
padding-left:10px;
margin:0px;
}
 .Image-details li
{
    padding: 4px 0px 20px 20px;
	background:url(../images/bullets-icon.gif) left 15% no-repeat;
    font-size: 13px;
	width:100%;
	font-size:13px;
}
.alpha {
    margin: 0;
    padding: 0;
}
.footer-bg{
background:#d3d3d3;
padding: 50px 0px 50px 0px;
text-align:left;
float:left;
}
.footer-part01 {
 width: 100%;
 color:#000;
 font-weight:600;
}

 .box01 {
    width: 60%;
	float:left;

}
 .box02 {
    width: 40%;
	padding:0px 0px 0px 20px;
	float:right;
	text-align:right;

}
 .box02 span{
 color:#c40000;
 }
 .box01 a{
 color:#000;
 float: left;font-family: 'Open Sans', sans-serif;
  font-size:12px;
  text-decoration:none;
 }

.about-banner {
    background:url(../images/about-banner.jpg) no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 300px;
    margin: 0;
    padding: 0;
	width:100%;
	padding-bottom:20px;

}
.about-txt{
max-width:650px;
width:100%;
float:left;
 float: left;
 font-family: 'Open Sans', sans-serif;
  font-size:13px;
  line-height:26px;
}
 .about-txt p{
	 padding:0px 0px 5px 0px;
 }
.about-right{
	width:310px;
	height:459px;
	padding-left:30px;
	float:left;
	padding-top:40px;
}
.contact-banner {
    background:url(../images/contact-banner.jpg) no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 300px;
    margin: 0;
    padding: 0;
	width:100%;
	margin-bottom:40px;

}

.header-banner {
    background:url(../images/header.jpg) no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 300px;
    margin: 0;
    padding: 0;
	width:100%;
	margin-bottom:40px;

}
#contact-form{
	max-width:310px;
width:100%;
float:left;
padding-left:30px;
padding-bottom:60px;
}
#contact-form .container {
    margin: 0;
    padding: 0;
    width: 100%;
}
#contact-form .form {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
#contact-form legend {
    border: medium none;
    margin: 0 0 8%;
    padding: 0;
    width: 100%;
}
#contact-form input, #contact-form textarea {
    background:#e5e5e5;
    border: medium none;
    color: #8C8C8C;
    display: block;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0 auto;
    padding: 6% 5%;
    width: 100%;
	border:1px #8C8C8C solid;
}
#contact-form #send {
    background: none repeat scroll 0 0 #0d374f;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    width: 30%;
	float:left;
	border:none;
	 padding-bottom:30px;
}
#contact-form #clear {
    background: none repeat scroll 0 0 #0d374f;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    text-align: center;
   text-transform: capitalize;
    width: 30%;
   float:left;
   border:none;
   margin-right:15px;
   padding-bottom:30px;
   }

   .contact-map{
	   border:1px #4296c7 solid;
	   max-width:650px;
	   width:100%;
	    float: left;

   }
   .contact-map p{
	 width:100%;
	 float:left;
	 padding:0px;
	 margin:0px;
   }
   .contact-map-details{
	   color: #FFFFFF;
      font-family: "Open Sans";
      font-size: 12px;
	  background:#0d374f;
	  margin:0px;
	  padding: 20px 0px 20px 0px!important;
   }
   .contact-map  span{
	 float:left;
	 margin:0px;
	 padding-left:15px;
   }


.login-Popup{
	background:#fff;
	max-width:960px;
	width:100%;
	padding:15px 60px 15px 60px;
	float:left;
}

#login-form{
max-width:350px;
width:100%;
float:left;
padding-left:30px;
padding-bottom:25px;
}
#login-form .container {
    margin: 0;
    padding: 0;
    width: 100%;
}
#login-form .form {
    margin: 20px auto;
    padding: 0;
    width: 100%;
}
#login-form legend {
    border: medium none;
    margin: 0 0 8%;
    padding: 0;
    width: 100%;
}
#login-form input {
    background:#f7f7f7;
    border: medium none;
    color: #8C8C8C;
    display: block;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: normal;

    padding: 4% 5%;
    width: 75%;
	border:1px #d6d5d5 solid;
}
#login-form #submit{
    background: none repeat scroll 0 0 #0d374f;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    text-align: center;
    text-transform:uppercase;
    width: 30%;
	float:left;
	border:none;
}
#login-form h1
{
	display:block;
	margin:0;
	text-align:left;
	padding:0 0 1% 0;
	 font-family: "Open Sans";
	font-size:30px;
	line-height:60px;
	color:#c4c4c4;
	font-weight:500;
}

.login-Popup-close {
    cursor: pointer;
    height: 36px;
    position: absolute;
    right: 215px;
    top: 7px;
    width: 36px;
    z-index: 8040;
	background:url(../images/close.png) no-repeat;
}
.grey-border{
	border-right:1px #000 solid;
}















/*..................................account....................*/


 .tabs ul {
	padding:0px;
	margin-right:20px;
	border-right:1px solid #E5E5E5;
	list-style:none;
	border-top:2px #080980 solid;

}



 .tabs li a {

color:#333;
font-weight:500;
background:#e9eef2;
padding:8px;
width:100%;
float:left;
border-bottom:1px #CCC dotted;
font-size:12px;
border-left:1px #ccc solid;
border-right:1px #ccc solid;
text-decoration:none;

}

 .tabs li a:hover {

color:#000;
font-weight:500;
background:#c7d2db;
padding:8px;
width:100%;
float:left
border-bottom:1px #CCC dotted;
font-size:12px;
border-left:1px #ccc solid;
border-right:1px #ccc solid;
text-decoration:none;

}

.tabs li a. current{
color:#000;
font-weight:500;
background:#c7d2db;
}
.table-content{
	margin-right:20px;
	width:100%;
}
.table-content h1{
	 font-family: "Open Sans";
	font-size:16px;
	color:#000;
}
.table-contents {

	font-family: "Open Sans";
	font-size:16px;
	padding:5px;
	width:300px;
	margin:20px auto;
	color:#000;
	text-decoration:none;
	display:block;
	color:#000;
}

.table-contents  span a{
	text-decoration:none;
	color:#0062b6;
	font-weight:bold;
}
.table-contents  span a.active{
	text-decoration:none;
	color:#000;
	font-weight:bold;
}
hr{
	color:#ccc;
	padding:0px;
	margin-bottom:5px;
	width:100%;
}
.title-head{
	background:#E94E3D;
	color:#fff;
	font-weight:bold;
	text-align:center;
	width:100%;
	padding:5px 5px 7px 5px;
}
.table-structure table td{
	border:1px #000 solid;
	padding:5px 8px;
	background:#e2f5f6;
}


.table-structure  input{
width:50px!important;
text-align:center;
}
.table-step{
width:50%;
}

.table-step table td{
	border-top:1px #000 solid;
	border-bottom:1px #000 solid;
	border-left:1px #000 solid;
	padding:5px 10px;
	background:#c4f0f0;
	line-height:20px;
}
.table-step ul{
margin:0px;
padding:0px;

}

.table-step ul li{
list-style:none;
width:100%;
float:left;

}
.step-title{
	background:#000!important;
	padding:6px;
	text-align:left;
	font-weight:bold;
	color:#fff;
	height:20px!important;
}
.border{
border:none!important;}
.member-title{
	background:#000!important;
	padding:4px;
	text-align:center;
	font-weight:bold;
	color:#fff;
	height:25px!important;
	font-size:20px;
}

.member table td{
	background:#c4f0f0;
	line-height:15.7px;
		border-bottom:1px #000 solid;

}
.member-content table td{
background:#ccc!important;
padding:10px 0px 14.2px 13px;
border:1px #000 solid;

}

.member-content span{
float:left;
}
.enquiry-step{
width:50%;
}

.enquiry-step table td{
	border-top:1px #000 solid;
	border-bottom:1px #000 solid;
	border-left:1px #000 solid;
	border-right:1px #000 solid;
	padding:5px;
	background:#c4f0f0;
	line-height:20px;
	height:375px;

}

.vote{

background: none repeat scroll 0 0 #0D374F;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    margin-left: 60%;
    text-align: center;
    text-transform: capitalize;
    width: 90%;
	padding:6px 20px;
	}

		#contactus {
		margin-top:20px;
		padding:0px 0px 10px 20px;
		}
	#contactus fieldset
{
   width:700px;
   padding:20px;
   margin-top:20px;
   border:1px solid #ccc;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
}

#contactus legend, h2
{
   font-family : Arial, sans-serif;
   font-size: 1.3em;
   font-weight:bold;
   color:#333;
}

#contactus label
{
   font-family: "Open Sans";
   font-size:12px;
   line-height:24px;
width:155px;   display:block;
}

#contactus input[type="text"],textarea
{
  font-family : Arial, Verdana, sans-serif;
  font-size: 0.8em;
  line-height:140%;
  color : #000;
  padding : 3px;
  border : 1px solid #999;
  margin-bottom:10px;

}

#contactus input[type="text"]
{
  height:30px;
  width:220px;


}


#contactus input[type="submit"]
{
   width:100px;
   height:30px;
   padding-left:0px;


   float:left;
}

#contactus textarea
{
  height:120px;
  width:310px;

}

#contactus input[type="text"]:focus,textarea:focus
{
  color : #009;
  border : 1px solid #990000;
  background-color : #ffff99;
  font-weight:bold;
}

#contactus .container
{
   margin-top:8px;
   width:300px;
   float:left;
}

#contactus .container-1
{
   margin-top:8px;
   margin-bottom: 10px;
   width:600px;
   float:left;
}


#contactus fieldset#antispam legend
{
   font-family : Arial, sans-serif;
   font-size: 0.8em;
   font-weight:bold;
   color:#333;
   float:left;
}


.update-btn{
background: none repeat scroll 0 0 #0D374F;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: "Open Sans";
    font-size: 11px!important;
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    width: 90%;
	padding:10px 20px;
	height:38px!important;
	float:left;
	margin-right:10px;
	text-align:center;
}

input.del-btn{
background: none repeat scroll 0 0 #0D374F;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 12px!important;
    text-align: center;
    text-transform: capitalize;
    width: 80px!important;
	padding:10px  30px 10px 25px!important;
	height:35px!important;
	float:left;
	margin-right:10px;
	margin-top:10px;
	text-align:center;
}


.Image input{
width:170px!important;
margin-bottom:15px;
margin-top:10px;
}

.banner-content{
	margin-right:20px;
	width:760px;
}
.banner-content input{
width:50px;
text-align:center;margin-top:10px;
}
.banner-btn{
color:#000066;
font-size:13px;
border:none!important;
background:none!important;
}
.quick-assign{
border:1px #000 solid;
padding:10px;
text-align:center;
width:375px;
margin-bottom:20px;
background:#F1F4F7;
}
input.assign-btn{
background: none repeat scroll 0 0 #0D374F;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 12px!important;
    text-align: center;
    text-transform: capitalize;
    width: 86px!important;
	max-width:100%;
	margin:4% 30%!important;
	padding:10px 26px!important;
	height:35px!important;
	margin-right:10px;
	text-align:center;
}

/*------------------------------ Toggles -----------------------------*/